@model IEnumerable<jobapptest.Models.Applicants>

@{
    ViewBag.Title = "ViewFor";
}

<h2>ViewFor</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Jobs.JobName)
        </th>
        <th>
            @Html.DisplayNameFor(model =>model.Jobs.Description)
      
        <th>
            @Html.DisplayNameFor(model => model.Jobs.NoOfPositios)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
      
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Jobs.JobName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Jobs.Description)
        </td>
    
        <td>
            @Html.DisplayFor(modelItem => item.Jobs.NoOfPositios)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
    </tr>
}

</table>
